#carImg{
    height:140px;
    width:18%;
}
.carInfo{
    font-size: 16px;
    font-weight: bold;
}

.car{
    border: 1px solid black;
    margin-bottom: 10px;
    
}
.car-container{
    margin-left: 20px;
}
#car_Img{
    height:140px;
    width:18%;
}
#car-Img{
    height:140px;
    width:18%;

}